@import 'less/font-awesome/less/font-awesome.less';
@color: #0000ff;




.editor_group{
	display:inline-block;
	border-left: 2px dashed lighten(@color, 65%);
}

.hidden{ 
	display:none; 
}

.simpleHtml5Editor a {
		color: black;
        text-align:center;
        padding-left:3px;
        padding-right:3px;
        padding-botton:4px;
        padding-top:2px;
        margin:3px;
        text-decoration:none;
        background: lighten(@color, 35%);
        text-align: center;
        border-radius: 2px;
        font-weight: bold;
}

