@import 'less/font-awesome/less/font-awesome.less';

.hidden{ display:none; }
.simpleHtml5Editor a {
		color: black;
        text-align:center;
        padding-left:2px;
        padding-right:2px;
        padding-botton:1px;
        padding-top:1px;
        margin:3px;
        text-decoration:none;
        background: lighten(#0000ff, 25%);
        text-align: center;
        border-radius: 2px;
        font-weight: bold;
}

